body {
    background-color: rgb(50, 151, 19)
}
.container-fluid {
    background-color:gainsboro;

} 
#header {
    text-align: center;
    background-color: rgb(96, 99, 99);
     color:whitesmoke
}
  #side-nav {
    background-color: rgb(48, 53, 54);
  }
  #projects-container, #projects {
    background-color:gainsboro;

  }
  #projects > li {
    background-color:gainsboro;
  } 
   #side-nav a:hover {
    color: white
  }
  #photo-id {
    float: left;
    width: 250px;
    height: 250px;
    padding-top: 0;
    margin-left:1px;
    margin-right:20px;
    background-color: rgb(226, 242, 247);
  
  }
  
  .card {
    border: none;
    background-color:#fff;;

  }
  .email-logo {
      width: 50px;
      height: 40px;
align-content: center  }

.linkdin-logo {
    width: 80px;
    height: 70px;
}
#contact {
    background-color: rgb(205, 214, 214);
}
